.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.btn-record,
.btn-send {
  background-color: #61dafb;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.btn-record:hover,
.btn-send:hover {
  background-color: #21a1f1;
}

.btn-record:active,
.btn-send:active {
  background-color: #0e85d0;
}